*{
margin: 0; 
padding: 0;
box-sizing: border-box; 
font-family: sans-serif; 
} 
.container{
    width: calc(100% - 100px);
    margin: auto;
}

.mainSection{
width: 100%; 
height:100vh; 
background-image: url(./image/bg.png);
background-size: cover; 
background-position: center; 
background-repeat: no-repeat;
}
.heroSection{
width: 100%;
align-items: center; 
justify-content: space-around; 
background: #fff; 
display: flex;
box-shadow: 0 0 8px  #089; 
position: fixed;  

left: 0; 
z-index: 100;
} 
img.logo{
width: 100px; 
margin: 8px 0 ; 

} 
.navMenu{
list-style: none;
}  
.liMenu{
display: inline-block; 
padding: 0 8px;
} 
.aMenue{
    text-decoration: none; 
    color: black;
}  
.navIcon{
    margin: 0 6px;  
    padding: 0 3px;
    font-size: 15px;
} 
 .mainContent{

    display: flex ;  
    top: 10%;
    justify-content: space-around;  
    align-items: center;  
    position: relative;

} 
.mainContent h1{
    font-size: 50px; 
    top: 80px;  
    left: 20px; 
    position: relative;
} 
.mainContent p{
    text-align: justify; 
    line-height: 20px;  
    position: relative; 
    width: 500px; 
    top: 120px; 
    left: 20px;

} 
.titleStyle{
    color: #089da1; 

} 
.mainContent img {
    width: 750px;  
    top: 75px; 
    left: 25px;
    position: relative; 

} 
.btnLearn{
    text-decoration: none; 
    padding: 10px 20px;
    position: relative; 
    color: #fff; 
    background: #089; 
    top: 200px; 
    left: 25px;
    

}
/* maha work */ 

/* start of services cards  */
.services .cards { 
    display : flex ; 
    justify-content: center ; 
    flex-direction: row ; 
    /* عشان اخلي الكاردز جنب بعض  */
    flex-wrap: wrap; 
    /* لما اصغر الشاشة ينزل من الكروت لتحت مش يدحشهم جنب بعض  */
}
.services .card { 
    width : 20em ; 
    box-shadow: 0 0px 10px rgba(0 136 153  / 100%); 
    padding : 15px ; 
    margin : 20px ; 
}
.services .icon {
    color: #089 ; 
    font-size: 3.5em ;
    text-align: center ;
}

.services .info p {
    font-size : 1em ; 
    text-align: center;
    width: 100%;
}

.services .info h3 { 
    font-size : 1.5em ; 
    font-weight: 700 ;
    letter-spacing: 1px;
    margin : 10px; 
    text-align: center;
}
/* end of services cards  */
/* about  */

.about { 
    width: 100%; 
    height: auto;
    padding:20px ; 
    align-items: center;
    display: flex ;
    justify-content: space-around;   
}
.about img {
    width: 800px ;
}



























/* bushra work */
/*start reviwes */
.reviews{
    text-align: center;
}
.rev-card img{
    border-radius: 50%;
    width: 18%;
}
 h2{
    font-size: 40px;
    padding: 50px 0;
}
.review{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 100px;
}
.rev-card{
    padding: 20px;
    width: 24%;
    text-align: justify;
    box-shadow: 0 0 8px  #089; 
}
.top-card i{
    font-size: 70px;
    color: #d3d5d5;
}
.top-card{
    display: flex;
    justify-content: space-between;
}
.text-card i,.text-card p,.text-card h3{
    padding: 10px 0;
}
.text-card i{
    color: #089;
}
/*end reviwes*/
/* start digital-book*/
.digital-book{
    background-image: url(./image/banner.jpg);
    width: 100%;
    background-size: cover;
    height: 50vh;
    position: relative;
}
.digital-book a{
    background-color: #089;
    padding: 10px 20px;
    position: absolute;
    bottom: 50px;
    left: 100px;
    color: white;
    text-decoration: none;
}
/*end digital-book*/
/*start our blog*/
.blogs{
    text-align: center;
}
.blog{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.blog-card{
    width: 28%;
    box-shadow: 0 0 8px  rgb(61, 63, 63); 
}
.blog-card img{
    width: 100%;
    height: 400px;
}
.blog-text{
    padding: 15px;
    text-align: start;
}
.blog-text p{
    text-align: justify;
    padding:  10px 0;
}
.icons{
    display: flex;
    justify-content: space-between;
}
.icons i, .blog-card h3{
    color: #089;
}
/*end our blog*/

